#List
1.Mutable - items can be changed

2.allows duplicates

3.allows all types of data - (HETEROGENEOUS)

4.Ordered

In [11]:
# Syntax
list1 = []  #empty list
list2 = [1,2,'thiru',True]

In [12]:
#Indexing
list2[2]

'thiru'

In [13]:
list2[-1]

True

List common methods
.append() - add items in the end
.insert() - add items in the specific spot
.remove() - removes a specific value
.pop() - remove an items by index
.sort() - puts items in alphabetical or acending order

In [14]:
list2

[1, 2, 'thiru', True]

In [15]:
list2.append(5)
list2

[1, 2, 'thiru', True, 5]

In [16]:
list2.insert(2,1.5)
list2

[1, 2, 1.5, 'thiru', True, 5]

In [17]:
list2.remove(1.5)

In [18]:
list2

[1, 2, 'thiru', True, 5]

In [19]:
list2.pop(4)

5

In [20]:
list2

[1, 2, 'thiru', True]

In [22]:
list3 = [3,4,2,1,5,6,7,8,34,31]

In [23]:
list3.sort()
list3

[1, 2, 3, 4, 5, 6, 7, 8, 31, 34]

In [24]:
# print the names starting with letter a
candidates = ["Arjun", "Beatrice", "Amara", "Charlie", "Anish", "David"]

# Your code goes here:
# 1. Start a 'for' loop to go through the candidates
# 2. Use an 'if' statement to check if the name starts with "A"
# 3. Print the name if the condition is True
for i in candidates:
    if i.startswith('A'):
        print(i)

Arjun
Amara
Anish

In [25]:
len(candidates)

6

In [27]:
bool([])

False

In [4]:
# second largest number in list
list1 =  [12, 45, 98, 34, 23]
large_number = max(list1)
sec_large = list1[0]
for i in list1:
    if i != large_number and i > sec_large:
        sec_large = i
print(sec_large)

45

In [3]:
#Write a Python script that takes a list of numbers and returns the sum of all numbers, but exclude any duplicates.
lists = [1,2,3,2,4,5,2,6,3,5,2]
total_sum = 0
new_list = set(lists)
for i in new_list:
    total_sum += i
print(total_sum)

21

In [17]:
# Find the sum of ONLY the numbers that appeared more than once
lists = [1,2,3,2,4,5,2,6,3,5,2]
dic = {}
total_sum = 0
for num in lists:
    if num in dic:
        dic[num] += 1
    else:
        dic[num] = 1
print(dic)
for num in dic:
    if dic[num ]>1:
        total_sum+= num
print("total sum",total_sum)

{1: 1, 2: 4, 3: 2, 4: 1, 5: 2, 6: 1}
total sum 10

In [18]:
# Find even and odd numbers in a list 
list1 = [12, 17, 19, 24, 35, 40, 56]
even = []
odd = []
for num in list1:
    if num%2 == 0:
        even.append(num)
    else:
        odd.append(num)
print("even numbers: ",even)
print("odd numbers: ",odd)

even numbers:  [12, 24, 40, 56]
odd numbers:  [17, 19, 35]

In [22]:
# You have a list of temperatures in Celsius. Create a new list that converts them to Fahrenheit.
celsius = [0, 10, 20, 30, 40]
fahrenheit = []
for i in celsius:
    F = ((i* 9/5) + 32)
    fahrenheit.append(F)
print(fahrenheit)

[32.0, 50.0, 68.0, 86.0, 104.0]

In [23]:
# List comprehension method
celsius = [0, 10, 20, 30, 40]

# Standard List Comprehension: [expression for item in list]
fahrenheit = [(i * 9/5) + 32 for i in celsius]

print(fahrenheit)

[32.0, 50.0, 68.0, 86.0, 104.0]