In [ ]:
#1.Find the error in the following Python code:

 for i in range(5)
    print(i)

In [ ]:

for i in range(5): #missing colon and wrong indendation
    print(i)

0
1
2
3
4

In [2]:
#2.What will be the output of this code?

a = 10
b = "5"
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# corrected code
a = 10
b = "5"  # cannot concate string and integer
print(a + int(b)) #Type casting

15

In [ ]:
#3.What is the issue in this Python snippet?

 def add_numbers(a, b)
    return a + b

In [ ]:
def add_numbers(a,b): #missing colon
    return a+b

In [1]:

#4.Identify the bug in the following Python code:

numbers = [1, 2, 3, 4]
print(numbers[4])

IndexError: list index out of range

In [ ]:
numbers = [1,2,3,4] 
print(numbers[3])  #index corrected

4

In [ ]:
#5.Find the error in the following Python code:
print "Hello, World!"

In [ ]:
print("Hello, World!")  #missing paranthesis

Hello, World!

In [ ]:
#6.Find the error in the following Python code:
x = 5 / 0

In [2]:
# A Number cannot be divided by 0
x = 5/1  #zero division error 
print(x)

5.0

In [ ]:
#7.Find the error in the following Python code:
name = "Alice"
age = 25
print("Name: " + name + ", Age: " + age)

In [9]:
name = "Alice"
age = 25
print("Name: " + name + ", Age: " + str(age))  #cannot concate string and integer

Name: Alice, Age: 25

In [ ]:
#8.Find the error
for i in range(1, 10, -1):
    print(i)

In [10]:
# for the given range step -1 can't be used
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [ ]:
#9. Find the error in the following Python code:
x = 10
if x = 5:
    print("x is 5")

In [11]:
# = is aggignment operator
# to compare values == should be used
x = 10
if x == 5:
    print('x is 5')

In [ ]:
#10. Identify the error in the following function definition:

def greet(name)
    print("Hello, " + name)

In [ ]:
def greet(name): # Missing colon
    print("hello,"+name)